<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>JoT &mdash; Official</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by gettemplates.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="gettemplates.co" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'> -->
	
	<!-- Animate.css -->
	<link rel="stylesheet" th:href="@{/css/animate.css}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" th:href="@{/css/icomoon.css}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" th:href="@{/css/magnific-popup.css}">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
	<link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">

	<!-- Theme style  -->
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<!-- Jquery -->
	<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<!-- -->
	<!-- Modernizr JS -->
	<script th:src="@{/js/modernizr-2.6.2.min.js}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script th:src="@{/js/respond.min.js}"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="gtco-loader"></div>
	
	<div id="page">
	<nav class="gtco-nav" role="navigation">
		<div class="gtco-container">
			<div class="row">
				<div class="col-xs-2">
					<div id="gtco-logo"><a href="index.html">JoT Official.</a></div>
				</div>
				<div class="col-xs-8 text-center menu-1">
					<ul>
						<li class="active"><a th:href="@{/index}">Home</a></li>
						<li><a href="about.html">About</a></li>
				
						<li class="has-dropdown">
							<a href="#">Shop</a>
							<ul class="dropdown">
								<li><a href="shop.html">All</a></li>
								<li><a href="#">Bottoms</a></li>
								<li><a href="#">Shirts</a></li>
								<li><a href="#">Denim</a></li>
							</ul>
						</li>
						<li><a href="contact.html">Contact</a></li>
						<li>
							<a href="#" id="cart"><i class="icon-shopping-cart"></i> Cart <span class="badge">3</span></a>
						</li>
					</ul>
				</div>
				
				<div class="col-xs-2 text-right hidden-xs menu-2">
					<ul>
						<li class="btn-cta"><a href="#"><span>Login</span></a></li>
					</ul>
				</div>
				
				<div style="display: inline-block;position: absolute;right: 11%;" class="search">
					<form action="detail.html" id="demo-2">
						<input type="search" placeholder="Search" />
					</form>
				</div>
			</div>
			
		</div>
	</nav>

	<header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url(/images/slideshow_2.jpg);">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>New In Denim</h1>
							<p><a href="#" class="btn btn-default">Shop Now</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	
	<div id="gtco-features">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-4 col-sm-4" th:each="product:${products}">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<img style="width:300px;height:300px" src="/images/Basicdenim_Indigo1.jpg" />
						</span>
						<h3 th:text="*{product.getName()}"></h3>
						<p th:text="*{product.getDescription()}"></p>
						<p><a href="#" class="btn btn-primary">View More</a></p>
					</div>
				</div>
				<!--<div class="col-md-4 col-sm-4">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<img style="width:300px;height:300px" src="images/Doublestack_bb2_1024x1024.jpg" />
						</span>
						<h3>Fully Responsive</h3>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
						<p><a href="#" class="btn btn-primary">View More</a></p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<img style="width:300px;height:300px" src="images/Doublestack_bb2_1024x1024.jpg" />
						</span>
						<h3>Web Starter</h3>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
						<p><a href="detail.html" class="btn btn-primary">View More</a></p>
					</div>
				</div>-->
				
			</div>
		</div>
	</div>
	<div class="slideshow">
		<ul id="slider">
			<li>
				<a href="">
					<img src="/images/slideshow_1.jpg"/>
				</a>
			</li>
			<li>
				<a href="">
					<img src="/images/slideshow_2.jpg" />
				</a>
			</li>
		</ul>
		<script src="/js/slide.js"></script>
	</div>



	<div id="gtco-started">
		<div class="gtco-container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>Get Started</h2>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-12">
					<form th:action="@{/addContact}" method="post" class="form-inline">
						<div class="col-md-4 col-sm-4">
							<div class="form-group">
								<label for="fullname" class="sr-only">Fullname</label>
								<input type="text" class="form-control" id="fullname" name="fullName" placeholder="Fullname">
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="form-group">
								<label for="email" class="sr-only">Email</label>
								<input type="email" class="form-control" id="email" name="email" placeholder="Email">
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<button type="submit" class="btn btn-default btn-block">Join with us</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<footer id="gtco-footer" role="contentinfo">
		<div class="gtco-container">
			<div class="row row-pb-md">
				<div class="col-md-4 gtco-widget">
					<h3>The Company</h3>
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
					<p><a href="#">Learn More</a></p>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<ul class="gtco-footer-links">
						<li><a href="#">About</a></li>
						<li><a href="#">Help</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Meetups</a></li>
					</ul>
				</div>

			</div>

			<div class="row copyright">
				<div class="col-md-12">
					<p class="pull-left">
						<small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small> 
						<small class="block">Designed by <a href="http://gettemplates.co/" target="_blank">GetTemplates.co</a> Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a></small>
					</p>
					<p class="pull-right">
						<ul class="gtco-social-icons pull-right">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script th:src="@{/js/jquery.min.js}"></script>
	<!-- jQuery Easing -->
	<script th:src="@{/js/jquery.easing.1.3.js}"></script>
	<!-- Bootstrap -->
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<!-- Waypoints -->
	<script th:src="@{/js/jquery.waypoints.min.js}"></script>
	<!-- Carousel -->
	<script th:src="@{/js/owl.carousel.min.js}"></script>
	<!-- countTo -->
	<script th:src="@{/js/jquery.countTo.js}"></script>
	<!-- Magnific Popup -->
	<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/js/magnific-popup-options.js}"></script>
	<!-- Main -->
	<script th:src="@{/js/main.js}"></script>

	</body>
</html>

